bbox
certifi
cffi
cycler
Cython
kiwisolver
llvmlite
matplotlib
mkl-fft
mkl-random
mkl-service
numba
numpy
olefile
opencv-python
openslide-python
Pillow
progress
pycocotools
pycparser
pyparsing
pyquaternion
python-dateutil
scipy
six
xmltodict
